global
    maxconn 4000

    daemon
    pidfile /var/run/haproxy.pid
    user haproxy
    group haproxy

    log /dev/log local0
    stats socket /var/lib/haproxy/stats

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

    log global
    option httplog

    # never fail on address resolution
    default-server init-addr last,libc,none


frontend k3s
  bind *:80
  mode http
  default_backend http_nginx_pool

frontend k3s-ssl
  bind *:443
  mode tcp
  option tcplog
  default_backend https_nginx_pool

backend http_nginx_pool
  mode http
{% for ip in controllers %}
  server controller80_{{ loop.index }} {{ ip }}:80 check
{% endfor %}
{% for ip in workers %}
  server worker80_{{ loop.index }} {{ ip }}:80 check
{% endfor %}

backend https_nginx_pool
  mode tcp
  balance source
{% for ip in controllers %}
  server controller443_{{ loop.index }} {{ ip }}:443 check
{% endfor %}
{% for ip in workers %}
  server worker443_{{ loop.index }} {{ ip }}:443 check
{% endfor %}
